@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Tulpen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Kite+One&display=swap");

body {
  background: #cec6c5;
  background: -moz-radial-gradient(
    center,
    #cec6c5 0%,
    #9ea0a4 47%,
    #c5c2c3 100%
  );
  background: -webkit-radial-gradient(
    center,
    #cec6c5 0%,
    #9ea0a4 47%,
    #c5c2c3 100%
  );
  background: radial-gradient(
    ellipse at center,
    #cec6c5 0%,
    #9ea0a4 47%,
    #c5c2c3 100%
  );
  font-family: "Gruppo", sans-serif;
  text-align: center;
  margin-bottom: 80px;
  justify-content: center;
}

body a {
  color: black;
  margin: 20px;
}

#title {
  color: black;
  border: 5px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Gruppo", sans-serif;
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
  text-decoration: underline;
}

h2 {
  color: rgb(70, 69, 69);
}

p {
  color: rgb(79, 77, 77);
}

#list {
  color: rgb(79, 77, 77);
}

#face {
  display: flex;
  justify-content: center;
}

#face2 {
  border: 5px solid black;
}

/* Nav bar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

/* .navBox {
  background-color: #464545;
}
.navBox1 {
  background: red;
}
.navBox2 {
  background: orange;
}
.navBox3 {
  background: yellow;
}
.navBox4 {
  background: green;
}
.navBox5 {
  background: blue;
}
.navBox6 {
  background: violet;
} */


/* Website created by */
.brandsig {
  display: flex;
}

.brandsig-content-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 60px;
  background: #464545;
}

.logo p {
  color: #b1ff2e;
}

.brand p {
  font-family: "Gruppo", sans-serif;
  color: #b1ff2e;
  font-size: large;
  align-self: center;
  margin-bottom: 20px;
}

.sig p {
  color: white;
  padding-right: 7px;
}

.brandsig-content-right {
  position: fixed;
  bottom: 0%;
  right: 0%;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 10px;
  float: right;
}

.icon-style {
  height: 30px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  border: 0px;
}

.icon-style:hover {
  background: #b1ff2e;
  padding: 2px;
}

@media (max-width: 700px) {
  body {
    background: rgb(191, 189, 189);
  }
}

/* JSDOM buttons */
.gameButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 15px;
  margin: 25px;
}

.gameButtonsIndividual {
  justify-self: center;
  background-color: cadetblue;
  height: 50px;
  width: 210px;
}

.box {
  border: 1px solid black;
}
